
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<form action="/Login/index" method="post">

    Phone : <input type="number" name="Phone" class="form-control">

    Password :<input type="text" name="Password" class="form-control">

    <input type="submit" value="Add" class="btn btn-primary">

</form>