
@{
    ViewBag.Title = "Personal Info";
}

<h2>Personal Info</h2>
<p> I am <b>Abu Jubaer</b>. I am a student of department of <b>Computer Science & Engineering</b> under <b>Faculty of Science and Information Technology</b> at <b>American International University Bangladesh</b>.<br /></p>

<p><b>Address:</b>Bogura, Bangladesh</p>
<p><b>Email:</b> abujubaer90@gmail.com</p>
