
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<table class="table table-bordered">
    <tr>
        <td>Project</td>
        <td>Language</td>
        <td>Link</td>
    </tr>

    <tr>
        <td>Travel and Tourism</td>
        <td>React.js</td>
        <td><a href="https://github.com/amixubaer/Travel-And-Tourism-React-Laravel">Click</a></td>
    </tr>

    <tr>
        <td>Employee Management System</td>
        <td>C#</td>
        <td><a href="https://github.com/amixubaer/Employee-Management-System">Click</a></td>
    </tr>


    <tr>
        <td>Travel and Tourism</td>
        <td>Laravel</td>
        <td><a href="https://github.com/amixubaer/Travel-and-Tourism-Laravel">Click</a></td>
    </tr>


    <tr>
        <td>Online Book Store</td>
        <td>PHP</td>
        <td><a href="https://github.com/amixubaer/Online-Book-Store">Click</a></td>
    </tr>

    <tr>
        <td>DX Ball</td>
        <td>C++</td>
        <td><a href="https://github.com/amixubaer/DX-Ball">Click</a></td>
    </tr>

    <tr>
        <td>Bank Management System</td>
        <td>Java</td>
        <td><a href="https://github.com/amixubaer/bank-management-system">Click</a></td>
    </tr>

</table>